# Tuples

This chapter introduces tuples, a built-in sequence type, and shows how tuples work alongside lists and dictionaries.
You will practice tuple assignment and the packing and unpacking operators used with variable-length argument lists.

In the exercises, you'll combine tuples with lists and dictionaries to solve word puzzles and build efficient algorithms.

One note: There are two common pronunciations of "tuple".
Some people say "tuh-ple" (rhymes with "supple").
In programming, many people say "too-ple" (rhymes with "quadruple").

In [1]:
import sys
from pathlib import Path

current = Path.cwd()
for parent in [current, *current.parents]:
    if (parent / '_config.yml').exists():
        project_root = parent  # ← Add project root, not chapters
        break
else:
    project_root = Path.cwd().parent.parent

sys.path.insert(0, str(project_root))


from shared import thinkpython, diagram, jupyturtle, download

## Tuples Operations

- A tuple is a **sequence** of values. 
- The values can be **any type**. 
- The values in a tuple are **indexed** by integers, so tuples feel a lot like lists.

The important difference is that tuples are **immutable**. Python tuples support various operations for accessing, combining, and processing their elements, leveraging their key characteristic of immutability. Once created, items cannot be added, removed, or changed within a tuple, but new tuples can be created as a result of these operations

Common tuple operations include: 
| Python Expression | Description | Example |
|---|---|---|
| `len(tuple)` | Returns the number of items in the tuple. | `len((1, 2, 3))` returns `3`. |
| `tuple1 + tuple2` | Concatenation: combines two tuples into a new tuple. | `(1, 2) + (3, 4)` returns `(1, 2, 3, 4)`. |
| `tuple * n` | Repetition: repeats tuple elements `n` times. | `('Hi!',) * 3` returns `('Hi!', 'Hi!', 'Hi!')`. |
| `item in tuple` | Membership: checks whether a value exists in the tuple (`True`/`False`). | `3 in (1, 2, 3)` returns `True`. |
| `tuple[index]` | Indexing: accesses an element using positive or negative index. | `('a', 'b', 'c')[0]` returns `'a'`. |
| `tuple[start:stop]` | Slicing: extracts a range of elements as a new tuple. | `(1, 2, 3, 4)[1:3]` returns `(2, 3)`. |
| `tuple(iterable)` | Constructor: converts an iterable (list, string, set, etc.) into a tuple. | `tuple([1, 2])` returns `(1, 2)`. |

### Creating Tuples

Tuples in Python can be created in several ways, primarily: 
- Using tuple literals: through the use of commas and optional parentheses
- by using the built-in tuple() constructor

| How to create | Method | Example | Result |
|---|---|---|---|
| Use parentheses with comma-separated values | Parentheses | `(1, 2, 3)` | `(1, 2, 3)` |
| Write comma-separated values without parentheses | Tuple packing | `1, 2, 3` | `(1, 2, 3)` |
| Use empty parentheses | Empty tuple | `()` | `()` |
| Add a trailing comma for one value | Single-item tuple | `(1,)` or `1,` | `(1,)` |
| Use the tuple constructor on an iterable | Constructor | `tuple([1, 2, 3])` | `(1, 2, 3)` |

To create a tuple, you can write a comma-separated list of values.

In [2]:
t = 'l', 'u', 'p', 'i', 'n'
type(t)

tuple

Parentheses are optional, but it is common to use them with tuples.

In [3]:
t1 = ('l', 'u', 'p', 'i', 'n')
print(t1)
print(type(t1))

t2 = 'l', 'u', 'p', 'i', 'n'    ### tuple packing
print(t2)
print(type(t2))

('l', 'u', 'p', 'i', 'n')
<class 'tuple'>
('l', 'u', 'p', 'i', 'n')
<class 'tuple'>

To make a one-element tuple, include a trailing comma. Parentheses are optional.

In [4]:
t1 = ('p',)
print(type(t1))
print(t1[0])

t2 = 'p',               ### tuple packing with one element
print(type(t2))
print(t2[0])

<class 'tuple'>
p
<class 'tuple'>
p

However, a single value inside parentheses is not a tuple without a comma.

In [5]:
t2 = ('p')
type(t2)

str

Another way to create a tuple is with the built-in function/type constructor `tuple`. With no argument, it creates an empty tuple.

In [6]:
t = tuple()

print(t)
print(type(t))

()
<class 'tuple'>

If the argument is a sequence (string, list, or tuple), the result of using tuple **constructor** is a tuple containing the elements of that sequence. This is so much like list.

In [7]:
t = tuple('BIT@MS&T')
print(t)
print(type(t))

l = list('BIT@MS&T')
print(l)
print(type(l))

('B', 'I', 'T', '@', 'M', 'S', '&', 'T')
<class 'tuple'>
['B', 'I', 'T', '@', 'M', 'S', '&', 'T']
<class 'list'>

### Indexing and slicing

Tuples support indexing and slicing the same way lists do.

In [8]:
t[0]

'B'

The slice operator selects a range of elements.

In [9]:
t[1:3]

('I', 'T')

### Tuple Operators

The `+` operator concatenates tuples.

In [10]:
print(tuple('BIT') + ('@', 'M', 'S', '&', 'T'))

print(type(tuple('BIT') + ('@', 'M', 'S', '&', 'T')))

tuple('BIT') + ('@', 'M', 'S', '&', 'T')

('B', 'I', 'T', '@', 'M', 'S', '&', 'T')
<class 'tuple'>

('B', 'I', 'T', '@', 'M', 'S', '&', 'T')

But you can not concatenate a string and a tuple:

In [11]:
%%expect TypeError

print(('BIT'))
print(type('BIT'))          ### A string is not a tuple, even if it has only one element.

print(type(('@', 'M', 'S', '&', 'T')))

('BIT') + ('@', 'M', 'S', '&', 'T')

BIT
<class 'str'>
<class 'tuple'>

TypeError: can only concatenate str (not "tuple") to str

The `*` operator repeats a tuple a given number of times.

In [12]:
tuple('Fulton') * 2

('F', 'u', 'l', 't', 'o', 'n', 'F', 'u', 'l', 't', 'o', 'n')

Based on these examples, tuples can look a lot like lists.

### Tuple methods

Tuples have a small set of methods. Tuples are:

- Immutable (cannot be changed)
- Fixed-size
- Designed for safety and structure

Because you can't modify them, they don’t have methods like:
- .append()
- .remove()
- .sort(). 
 
The most common are `count` and `index`, which return information rather than modifying the tuple.

In [13]:
t = ('a', 'b', 'a', 'c')
t.count('a'), t.index('c')      ### this returns a tuple

(2, 3)

### Tuple Functions

In addition to these two methods, Python's built-in functions can be used with tuples, as they work with any `iterable`. These functions do not modify the original tuple, but return new values or objects: 

| Function | What it does | Notes |
|---|---|---|
| `len(tuple)` | Returns the total number of items in the tuple. | Works for any tuple. |
| `max(tuple)` | Returns the largest item in the tuple. | Elements must be comparable. |
| `min(tuple)` | Returns the smallest item in the tuple. | Elements must be comparable. |
| `sum(tuple)` | Returns the sum of all numeric elements in the tuple. | Elements should be numbers. |
| `sorted(tuple)` | Returns a new list with tuple elements in sorted order. | Output type is `list`, not `tuple`. |
| `reversed(tuple)` | Returns an iterator over tuple elements in reverse order. | Convert with `tuple(...)` or `list(...)` if needed. |
| `tuple(iterable)` | Converts another iterable (like a list or string) into a tuple. | Useful for type conversion. |

The `sorted` function works with tuples, but it returns a `list`.

In [90]:
t = ('a', 'b', 'a', 'c')

print(t)
print(type(t))

sorted(t)

('a', 'b', 'a', 'c')
<class 'tuple'>

['a', 'a', 'b', 'c']

In [91]:
%%expect AttributeError

t.sort()  ### this doesn't work because tuples are immutable

AttributeError: 'tuple' object has no attribute 'sort'

The `reversed` function also works with tuples.

In [92]:
reversed(t)

It returns a `reversed` object, which you can convert to a list or tuple.

In [93]:
tuple(reversed(t))

('c', 'a', 'b', 'a')

In [95]:
### original object is unchanged
t

('a', 'b', 'a', 'c')

## But tuples are Immutable

If you try to modify a tuple with indexing, Python raises a `TypeError`.

In [96]:
%%expect TypeError

print(t)

t[0] = 'L'          ### Tuple does not support item assignment

('a', 'b', 'a', 'c')

TypeError: 'tuple' object does not support item assignment

Tuples also lack list methods that modify in place, like `append` and `remove`.

In [97]:
%%expect AttributeError

t.remove('l')

AttributeError: 'tuple' object has no attribute 'remove'

Recall that an "attribute" is a variable or method associated with an object; this error means tuples do not have a method named `remove`. Because tuples are immutable, they are hashable, which means they can be used as dictionary keys.

For example, the following dictionary contains two tuples as keys that map to integers.

In [100]:
d = {}
d[1, 2] = 3
d[3, 4] = 7

d

{(1, 2): 3, (3, 4): 7}

You can look up a tuple key like this:

(note: In Python, d[1, 2] is parsed as d[(1, 2)]. Comma creates a tuple, so 1, 2 means a 2-item tuple. And tuples are immutable (hashable if their elements are hashable), so they can be dictionary keys.)

In [103]:
print(d[1, 2])  
print(type(d[1, 2]))

3
<class 'int'>

Or store a tuple in a variable and use it as a key.

In [104]:
t = (3, 4)
d[t]

7

Tuples can also appear as dictionary values.

In [109]:
### review list and tuple
l = list('abc')
print(l)
print(type(l))

t = tuple('abc')
print(t)
print(type(t))

['a', 'b', 'c']
<class 'list'>
('a', 'b', 'c')
<class 'tuple'>

In [111]:
t = tuple('abc')
d = {'key': t}          ### tuple as a dictionary value
d

{'key': ('a', 'b', 'c')}

### Hashable tuples

An object is hashable if its hash value stays the same during its lifetime. An `id()` is the memory address of the object — unique per object, but can be reused after an object is deleted.
`hash()` is a number derived from the object's contents/value, used for fast lookups.
Hashable objects can be used as dictionary keys and stored in sets.
A key rule is: if `a == b`, then `hash(a) == hash(b)`.

**Hashability caveat:** a tuple is hashable only if all of its elements are hashable.
If a tuple contains a list (or another unhashable type), it cannot be used as a dictionary key.

A hash value is just an integer that represents an object, computed by the `hash()` function. 

| Type(s) | Mutability/Conditional | Hashable | Example |
|---|---|---|---|
| `int`, `float`, `bool`, `complex` | Immutable | Yes | `42`, `3.14`, `True`, `2+3j` |
| `str` | Immutable | Yes | `"hello"` |
| `tuple` | Immutable, conditional on all elements being hashable | Yes (conditional) | `(1, "a")` yes, `([1], "a")` no |
| `frozenset` | Immutable, conditional on all elements being hashable | Yes (conditional) | `frozenset({1, 2})` |
| `bytes` | Immutable | Yes | `b"abc"` |
| `None` | Immutable singleton | Yes | `None` |
| Functions, classes | Identity-based objects | Yes (by identity) | `len`, `dict` |
| `list` | Mutable | No | `[1, 2, 3]` |
| `dict` | Mutable | No | `{"a": 1}` |
| `set` | Mutable | No | `{1, 2, 3}` |
| `bytearray` | Mutable | No | `bytearray(b"abc")` |

Here are a few quick checks. Equal tuples have equal hashes, and tuples of hashable elements are hashable.

In [116]:
a = (1, 2)
b = (1, 2)
a == b, hash(a) == hash(b)      ### return True, True

hash((1, (2, 3)))               ###  hashes a nested tuple, returning the large number shown

7267574591690527098

In [117]:
%%expect TypeError

mixed = (1, [2, 3])
d = {mixed: 'not hashable'}

TypeError: unhashable type: 'list'

### Tuple Assignment

You can assign multiple variables from a tuple or any sequence.

In [120]:
a, b = 1, 2

Values are assigned left to right. In this example, `a` gets `1` and `b` gets `2`.
We can display the results like this:

In [121]:
a, b

(1, 2)

More generally, if the left side is a tuple of variables, the right side can be any sequence - a string, list, or tuple.
For example, to split an email address into a user name and domain:

In [122]:
email = 'monty@python.org'
username, domain = email.split('@')

`split` returns a list with two elements; the first goes to `username`, the second to `domain`.

In [123]:
username, domain

('monty', 'python.org')

The number of variables on the left and values on the right must **match**; otherwise you get a `ValueError`.

In [125]:
%%expect ValueError

a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

Tuple assignment is a clean way to swap two variables.
With conventional assignments, you need a temporary variable:

In [126]:
temp = a
a = b
b = temp

That works, but tuple assignment does the same swap without a temporary variable.

In [127]:
a, b = b, a

### Starred unpacking

Use a starred name to capture "the rest" of a sequence during assignment.

In [129]:
first, *middle, last = range(6)
first, middle, last

(0, [1, 2, 3, 4], 5)

This works because all expressions on the right side are evaluated before any assignments.

Tuple assignment is also handy in `for` loops.
For example, to loop through the items in a dictionary, use the `items` method.

In [131]:
d = {'one': 1, 'two': 2}

for item in d.items():          ### items() returns a list of key-value pairs as tuples
    key, value = item
    print(key, '->', value)

one -> 1
two -> 2

Each time through the loop, `item` is a tuple with a key and its value.
We can unpack it directly:

In [132]:
for key, value in d.items():
    print(key, '->', value)

one -> 1
two -> 2

Now `key` and `value` are assigned on each iteration.

### Tuples as return values

**A function returns one object**, but that object can be a tuple.
Returning a tuple is a common way to provide **multiple** results.

For example, if you want both the quotient and remainder of integer division, it is more efficient to compute them together.
The built-in function `divmod` (`//` and `%`) takes two arguments and returns a tuple with the quotient and remainder.

In [133]:
divmod(7, 3)

(2, 1)

We can use tuple assignment to store both results in separate variables.

In [134]:
quotient, remainder = divmod(7, 3)
quotient

2

In [135]:
remainder

1

Here is a simple function that returns a tuple.

In [137]:
def min_max(t):
    return min(t), max(t)

`min` and `max` are built-in functions that find the smallest and largest elements of a sequence.
`min_max` computes both and returns them as a tuple.

In [139]:
min_max([2, 4, 1, 3])

(1, 4)

We can unpack the result like this:

In [140]:
low, high = min_max([2, 4, 1, 3])
low, high

(1, 4)

## Argument Packing

Functions can take a variable number of arguments.
A parameter name that begins with `*` **packs** extra arguments into a tuple.
The following function takes any number of arguments and computes their arithmetic mean.

In [143]:
def mean(*args):
    return sum(args) / len(args)

The parameter name can be anything, but `args` is conventional.
We can call the function like this:

In [144]:
mean(1, 2, 3)

2.0

If you have a sequence of values and want to pass them as separate arguments, use `*` to **unpack** the sequence.
For example, `divmod` takes exactly two arguments - if you pass a tuple, it counts as a single argument and raises an error.

In [145]:
%%expect TypeError
t = (7, 3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

Even though the tuple contains two elements, it is still one argument.
If you unpack it, the two elements are passed separately.

In [146]:
divmod(*t)

(2, 1)

Packing and unpacking are handy when you want to adapt an existing function.
For example, this function takes any number of arguments, removes the lowest and highest, and computes the mean of the rest.

In [150]:
def trimmed_mean(*args):
    low, high = min_max(args)
    trimmed = list(args)        ### convert to a list so we can remove the low and high values
    trimmed.remove(low)
    trimmed.remove(high)
    return mean(*trimmed)

First it uses `min_max` to find the lowest and highest values.
Then it converts `args` to a list so it can use `remove`.
Finally it **unpacks** the trimmed list so the elements are passed to `mean` as separate arguments.

Here is an example that shows the effect.

In [151]:
mean(1, 2, 3, 10)

4.0

In [152]:
trimmed_mean(1, 2, 3, 10)

2.5

You can also unpack sequences to build new tuples (or lists) without using `+`.

In [153]:
a = (1, 2)
b = (3, 4)
combined = (*a, *b)
combined

(1, 2, 3, 4)

This kind of trimmed mean is used in sports with subjective judging (like diving and gymnastics) to reduce the influence of outlier scores.

### Zip

Tuples are useful for pairing elements from multiple sequences and working with them together.
For example, suppose two teams play a series of seven games, and we record their scores in two lists, one for each team.

In [50]:
scores1 = [1, 2, 4, 5, 1, 5, 2]
scores2 = [5, 5, 2, 2, 5, 2, 3]

Let's see how many games each team won.
We'll use `zip`, a built-in function that combines sequences and returns a **zip object**, pairing elements like the teeth of a zipper.

In [51]:
zip(scores1, scores2)

`zip` stops when the shortest input is exhausted. If you want to keep going, use `itertools.zip_longest`.

In [155]:
from itertools import zip_longest

list(zip('abc', [1, 2]))
list(zip_longest('abc', [1, 2], fillvalue='-'))

[('a', 1), ('b', 2), ('c', '-')]

We can loop over the zip object to get pairwise values.

In [157]:
for pair in zip(scores1, scores2):
     print(pair)

(1, 5)
(2, 5)
(4, 2)
(5, 2)
(1, 5)
(5, 2)
(2, 3)

Each time through the loop, `pair` is a tuple of scores.
We can unpack those scores and count the victories for the first team:

In [159]:
wins = 0
for team1, team2 in zip(scores1, scores2):
    if team1 > team2:
        wins += 1
        
wins

3

Sadly, the first team won only three games and lost the series.

If you want a list of pairs, combine `zip` with `list`.

In [161]:
t = list(zip(scores1, scores2))
t

[(1, 5), (2, 5), (4, 2), (5, 2), (1, 5), (5, 2), (2, 3)]

The result is a list of tuples, so we can get the last game like this:

In [162]:
t[-1]

(2, 3)

If you have a list of keys and a list of values, you can use `zip` and `dict` to build a dictionary.
Here is a mapping from each letter to its position in the alphabet.

In [164]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))

Now we can look up a letter and get its index in the alphabet.

In [165]:
letter_map['a'], letter_map['z']

(0, 25)

In this mapping, the index of `'a'` is `0` and the index of `'z'` is `25`.

If you need to loop through elements and their indices, use the built-in function `enumerate`.

In [166]:
enumerate('abc')

The result is an **enumerate object** that yields pairs containing an index (starting at 0) and the corresponding element.

If you want indices to start at 1 (like line numbers), pass the optional `start` argument.

In [167]:

for index, element in enumerate('abc', start=1):
    print(index, element)

1 a
2 b
3 c

In [168]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

### Comparing and sorting

Relational operators work with tuples and other sequences.
Tuple comparison is lexicographic: it compares the first elements, then the next, and so on until it finds a difference.

In [169]:
(0, 1, 2) < (0, 3, 4)

True

Once a difference is found, later elements are not considered.

In [170]:
(0, 1, 2000000) < (0, 3, 4)

True

This comparison behavior is useful for sorting lists of tuples or finding minimum and maximum values.
As an example, let's find the most common letter in a word.
In the previous chapter, we wrote `value_counts`, which returns a dictionary mapping each letter to its count.

In [171]:
def value_counts(string):
    counter = {}
    for letter in string:
        if letter not in counter:
            counter[letter] = 1
        else:
            counter[letter] += 1
    return counter

Here is the result for the string `'banana'`.

In [172]:
counter = value_counts('banana')
counter

{'b': 1, 'a': 3, 'n': 2}

With only three items, the most frequent letter is easy to spot.
But when there are many items, sorting is helpful.

We can get the items from `counter` like this:

In [173]:
items = counter.items()
items

dict_items([('b', 1), ('a', 3), ('n', 2)])

The result is a `dict_items` object that behaves like a list of tuples, so we can sort it.

In [174]:
sorted(items)

[('a', 3), ('b', 1), ('n', 2)]

### Sorting by value

Sometimes you want to sort dictionary items by their values rather than their keys.
We can define a small helper that returns the second element of a `(key, value)` pair.

In [175]:
def second_element(t):
    return t[1]

Then we pass that function as the optional `key` argument to `sorted`.
The `key` function computes a **sort key** for each item.

In [69]:
sorted_items = sorted(items, key=second_element)
sorted_items

[('b', 1), ('n', 2), ('a', 3)]

The sort key determines the order.
The letter with the lowest count appears first, and the highest count appears last.
So we can find the most common letter like this:

In [70]:
sorted_items[-1]

('a', 3)

If we only want the maximum, we don't have to sort the list.
We can use `max`, which also accepts a `key` function.

In [71]:
max(items, key=second_element)

('a', 3)

To find the letter with the lowest count, we could use `min` the same way.

### Inverting a dictionary

Sometimes you want to look up a value and get the corresponding key.
For example, if you have a word counter that maps each word to its count, you might want a dictionary that maps a count to the words that appear that many times.

The challenge is that dictionary keys must be unique, but values don't have to be.
One way to invert a dictionary is to create a new dictionary where each value maps to a list of keys from the original.
As an example, let's count the letters in `parrot`.

In [72]:
d =  value_counts('parrot')
d

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

If we invert this dictionary, the result should be `{1: ['p', 'a', 'o', 't'], 2: ['r']}`.
That means the letters that appear once are `'p'`, `'a'`, `'o'`, and `'t'`, and the letter that appears twice is `'r'`.

The following function takes a dictionary and returns its inverse as a new dictionary.

In [73]:
def invert_dict(d):
    new = {}
    for key, value in d.items():
        if value not in new:
            new[value] = [key]
        else:
            new[value].append(key)
    return new

The `for` loop walks through the keys and values in `d`.
If the value is not already in the new dictionary, we create a list with one key.
Otherwise we append the key to the existing list.

We can test it like this:

In [74]:
invert_dict(d)

{1: ['p', 'a', 'o', 't'], 2: ['r']}

And we get the result we expected.

This is the first example we've seen where the values in a dictionary are lists.
We will see more!

### When to use tuples

Use a tuple when the number of elements is fixed and you want to signal "this is a record" (for example, a `(row, col)` position).
Use a list when the collection will change size or you need methods like `append` or `remove`.

In [75]:
word = 'plumage!'
word = word.strip('!')
word

'plumage'

It is tempting to write list code like this:

In [76]:
t = [1, 2, 3]
t = t.remove(3)           # WRONG!

`remove` modifies the list in place and returns `None`, so reassigning `t` will likely break the next operation.

In [77]:
%%expect AttributeError

t.remove(2)

AttributeError: 'NoneType' object has no attribute 'remove'

This error message takes some explaining.
An **attribute** is a variable or method associated with an object.
Here the value of `t` is `None`, which is a `NoneType` object and has no attribute named `remove`, so Python raises an `AttributeError`.

When you see this error, look backward to see whether you called a list method incorrectly.

We can import it like this.

In [78]:
# download.download('https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/structshape.py')

In [79]:
from shared import structshape
from structshape import structshape

Here is an example with a simple list.

In [80]:
t = [1, 2, 3]
structshape(t)

'list of 3 int'

Here is a list of lists.

In [81]:
t2 = [[1,2], [3,4], [5,6]]
structshape(t2)

'list of 3 list of 2 int'

If the elements of the list are not the same type, `structshape` groups them by type.

In [82]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
structshape(t3)

'list of (3 int, float, 2 str, 2 list of int, int)'

Here is a list of tuples.

In [83]:
s = 'abc'
lt = list(zip(t, s))
structshape(lt)

'list of 3 tuple of (int, str)'

And here is a dictionary with three items that map integers to strings.

In [84]:
d = dict(lt) 
structshape(d)

'dict of 3 int->str'

If you are having trouble keeping track of your data structures, `structshape` can help.