# Tuples

This chapter introduces one more built-in type, the tuple, and then shows how lists, dictionaries, and tuples work together.
It also presents tuple assignment and a useful feature for functions with variable-length argument lists: the packing and unpacking operators.

In the exercises, we'll use tuples, along with lists and dictionaries, to solve more word puzzles and implement efficient algorithms.

One note: There are two ways to pronounce "tuple".
Some people say "tuh-ple", which rhymes with "supple".
But in the context of programming, most people say "too-ple", which rhymes with "quadruple".

In [2]:
import sys
from pathlib import Path

current = Path.cwd()
for parent in [current, *current.parents]:
    if (parent / '_config.yml').exists():
        project_root = parent  # â† Add project root, not chapters
        break
else:
    project_root = Path.cwd().parent.parent

sys.path.insert(0, str(project_root))


from shared import thinkpython, diagram, jupyturtle, download

## Tuples are like lists

A tuple is a sequence of values. The values can be any type, and they are indexed by integers, so tuples are a lot like lists.
The important difference is that tuples are immutable.

To create a tuple, you can write a comma-separated list of values.

In [ ]:
t = 'l', 'u', 'p', 'i', 'n'
type(t)

Although it is not necessary, it is common to enclose tuples in parentheses.

In [ ]:
t = ('l', 'u', 'p', 'i', 'n')
type(t)

To create a tuple with a single element, you have to include a final comma.

In [ ]:
t1 = 'p',
type(t1)

A single value in parentheses is not a tuple.

In [ ]:
t2 = ('p')
type(t2)

Another way to create a tuple is the built-in function `tuple`. With no
argument, it creates an empty tuple.

In [ ]:
t = tuple()
t

If the argument is a sequence (string, list or tuple), the result is a
tuple with the elements of the sequence.

In [ ]:
t = tuple('lupin')
t

### Tuple assignment

You can put a tuple of variables on the left side of an assignment, and a tuple of values on the right.

In [ ]:
t[0]

And the slice operator selects a range of elements.

In [ ]:
t[1:3]

The `+` operator concatenates tuples.

In [ ]:
tuple('lup') + ('i', 'n')

And the `*` operator duplicates a tuple a given number of times.

In [ ]:
tuple('spam') * 2

The `sorted` function works with tuples -- but the result is a list, not a tuple.

In [ ]:
sorted(t)

The `reversed` function also works with tuples.

In [ ]:
reversed(t)

The result is a `reversed` object, which we can convert to a list or tuple.

In [ ]:
tuple(reversed(t))

Based on the examples so far, it might seem like tuples are the same as lists.

## But tuples are immutable

If you try to modify a tuple with the bracket operator, you get a `TypeError`.

In [ ]:
%%expect TypeError
t[0] = 'L'

And tuples don't have any of the methods that modify lists, like `append` and `remove`.

In [ ]:
%%expect AttributeError

t.remove('l')

Recall that an "attribute" is a variable or method associated with an object -- this error message means that tuples don't have a method named `remove`.

Because tuples are immutable, they are hashable, which means they can be used as keys in a dictionary.
For example, the following dictionary contains two tuples as keys that map to integers.

In [ ]:
d = {}
d[1, 2] = 3
d[3, 4] = 7

We can look up a tuple in a dictionary like this:

In [ ]:
d[1, 2]

Or if we have a variable that refers to a tuple, we can use it as a key.

In [ ]:
t = (3, 4)
d[t]

Tuples can also appear as values in a dictionary.

In [ ]:
t = tuple('abc')
d = {'key': t}
d

### Tuple assignment

You can put a tuple of variables on the left side of an assignment, and a tuple of values on the right.

In [ ]:
a, b = 1, 2

The values are assigned to the variables from left to right -- in this example, `a` gets the value `1` and `b` gets the value `2`.
We can display the results like this:

In [ ]:
a, b

More generally, if the left side of an assignment is a tuple, the right side can be any kind of sequence -- string, list or tuple. 
For example, to split an email address into a user name and a domain, you could write:

In [ ]:
email = 'monty@python.org'
username, domain = email.split('@')

The return value from `split` is a list with two elements -- the first element is assigned to `username`, the second to `domain`.

In [ ]:
username, domain

The number of variables on the left and the number of values on the
right have to be the same -- otherwise you get a `ValueError`.

In [ ]:
%%expect ValueError
a, b = 1, 2, 3

Tuple assignment is useful if you want to swap the values of two variables.
With conventional assignments, you have to use a temporary variable, like this:

In [ ]:
temp = a
a = b
b = temp

That works, but with tuple assignment we can do the same thing without a temporary variable.

In [ ]:
a, b = b, a

This works because all of the expressions on the right side are evaluated before any of the assignments.

We can also use tuple assignment in a `for` statement.
For example, to loop through the items in a dictionary, we can use the `items` method.

In [ ]:
d = {'one': 1, 'two': 2}

for item in d.items():
    key, value = item
    print(key, '->', value)

Each time through the loop, `item` is assigned a tuple that contains a key and the corresponding value.

We can write this loop more concisely, like this:

In [ ]:
for key, value in d.items():
    print(key, '->', value)

Each time through the loop, a key and the corresponding value are assigned directly to `key` and `value`.

### Tuples as return values

Strictly speaking, a function can only return one value, but if the
value is a tuple, the effect is the same as returning multiple values.
For example, if you want to divide two integers and compute the quotient
and remainder, it is inefficient to compute `x//y` and then `x%y`. It is
better to compute them both at the same time.

The built-in function `divmod` takes two arguments and returns a tuple
of two values, the quotient and remainder.

In [ ]:
divmod(7, 3)

We can use tuple assignment to store the elements of the tuple in two variables.

In [ ]:
quotient, remainder = divmod(7, 3)
quotient

In [ ]:
remainder

Here is an example of a function that returns a tuple.

In [ ]:
def min_max(t):
    return min(t), max(t)

`max` and `min` are built-in functions that find the largest and smallest elements of a sequence. 
`min_max` computes both and returns a tuple of two values.

In [ ]:
min_max([2, 4, 1, 3])

We can assign the results to variables like this:

In [ ]:
low, high = min_max([2, 4, 1, 3])
low, high

## Argument packing

Functions can take a variable number of arguments. 
A parameter name that begins with the `*` operator **packs** arguments into a tuple.
For example, the following function takes any number of arguments and computes their arithmetic mean -- that is, their sum divided by the number of arguments.

In [ ]:
def mean(*args):
    return sum(args) / len(args)

The parameter can have any name you like, but `args` is conventional.
We can call the function like this:

In [ ]:
mean(1, 2, 3)

If you have a sequence of values and you want to pass them to a function as multiple arguments, you can use the `*` operator to **unpack** the tuple.
For example, `divmod` takes exactly two arguments -- if you pass a tuple as a parameter, you get an error.

In [ ]:
%%expect TypeError
t = (7, 3)
divmod(t)

Even though the tuple contains two elements, it counts as a single argument.
But if you unpack the tuple, it is treated as two arguments.

In [ ]:
divmod(*t)

Packing and unpacking can be useful if you want to adapt the behavior of an existing function.
For example, this function takes any number of arguments, removes the lowest and highest, and computes the mean of the rest.

In [ ]:
def trimmed_mean(*args):
    low, high = min_max(args)
    trimmed = list(args)
    trimmed.remove(low)
    trimmed.remove(high)
    return mean(*trimmed)

First it uses `min_max` to find the lowest and highest elements.
Then it converts `args` to a list so it can use the `remove` method.
Finally it unpacks the list so the elements are passed to `mean` as separate arguments, rather than as a single list.

Here's an example that shows the effect.

In [ ]:
mean(1, 2, 3, 10)

In [ ]:
trimmed_mean(1, 2, 3, 10)

This kind of "trimmed" mean is used in some sports with subjective judging -- like diving and gymnastics -- to reduce the effect of a judge whose score deviates from the others.

### Zip

Tuples are useful for looping through the elements of two sequences and performing operations on corresponding elements.
For example, suppose two teams play a series of seven games, and we record their scores in two lists, one for each team.

In [ ]:
scores1 = [1, 2, 4, 5, 1, 5, 2]
scores2 = [5, 5, 2, 2, 5, 2, 3]

Let's see how many games each team won.
We'll use `zip`, which is a built-in function that takes two or more sequences and returns a **zip object**, so-called because it pairs up the elements of the sequences like the teeth of a zipper.

In [ ]:
zip(scores1, scores2)

We can use the zip object to loop through the values in the sequences pairwise.

In [ ]:
for pair in zip(scores1, scores2):
     print(pair)

Each time through the loop, `pair` gets assigned a tuple of scores.
So we can assign the scores to variables, and count the victories for the first team, like this:

In [ ]:
wins = 0
for team1, team2 in zip(scores1, scores2):
    if team1 > team2:
        wins += 1
        
wins

Sadly, the first team won only three games and lost the series.

If you have two lists and you want a list of pairs, you can use `zip` and `list`.

In [ ]:
t = list(zip(scores1, scores2))
t

The result is a list of tuples, so we can get the result of the last game like this:

In [ ]:
t[-1]

If you have a list of keys and a list of values, you can use `zip` and `dict` to make a dictionary.
For example, here's how we can make a dictionary that maps from each letter to its position in the alphabet.

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))

Now we can look up a letter and get its index in the alphabet.

In [ ]:
letter_map['a'], letter_map['z']

In this mapping, the index of `'a'` is `0` and the index of `'z'` is `25`.

If you need to loop through the elements of a sequence and their indices, you can use the built-in function `enumerate`.

In [ ]:
enumerate('abc')

The result is an **enumerate object** that loops through a sequence of pairs, where each pair contains an index (starting from 0) and an element from the given sequence.

In [ ]:
for index, element in enumerate('abc'):
    print(index, element)

### Comparing and Sorting

The relational operators work with tuples and other sequences.
For example, if you use the `<` operator with tuples, it starts by comparing the first element from each sequence.
If they are equal, it goes on to the next pair of elements, and so on, until it finds a pair that differ.

In [ ]:
(0, 1, 2) < (0, 3, 4)

Subsequent elements are not considered -- even if they are really big.

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

This way of comparing tuples is useful for sorting a list of tuples, or finding the minimum or maximum.
As an example, let's find the most common letter in a word.
In the previous chapter, we wrote `value_counts`, which takes a string and returns a dictionary that maps from each letter to the number of times it appears.

In [ ]:
def value_counts(string):
    counter = {}
    for letter in string:
        if letter not in counter:
            counter[letter] = 1
        else:
            counter[letter] += 1
    return counter

Here is the result for the string `'banana'`.

In [ ]:
counter = value_counts('banana')
counter

With only three items, we can easily see that the most frequent letter is `'a'`, which appears three times.
But if there were more items, it would be useful to sort them automatically.

We can get the items from `counter` like this.

In [ ]:
items = counter.items()
items

The result is a `dict_items` object that behaves like a list of tuples, so we can sort it like this.

In [ ]:
sorted(items)

### Inverting a dictionary

Suppose you want to invert a dictionary so you can look up a value and get the corresponding key.
For example, if you have a word counter that maps from each word to the number of times it appears, you could make a dictionary that maps from integers to the words that appear that number of times.

But there's a problem -- the keys in a dictionary have to be unique, but the values don't. For example, in a word counter, there could be many words with the same count.

So one way to invert a dictionary is to create a new dictionary where the values are lists of keys from the original.
As an example, let's count the letters in `parrot`.

In [ ]:
def second_element(t):
    return t[1]

Then we can pass that function to `sorted` as an optional argument called `key`, which indicates that this function should be used to compute the **sort key** for each item.

In [ ]:
sorted_items = sorted(items, key=second_element)
sorted_items

The sort key determines the order of the items in the list.
The letter with the lowest count appears first, and the letter with the highest count appears last.
So we can find the most common letter like this.

In [ ]:
sorted_items[-1]

If we only want the maximum, we don't have to sort the list.
We can use `max`, which also takes `key` as an optional argument.

In [ ]:
max(items, key=second_element)

To find the letter with the lowest count, we could use `min` the same way.

### Inverting a dictionary

Suppose you want to invert a dictionary so you can look up a value and get the corresponding key.
For example, if you have a word counter that maps from each word to the number of times it appears, you could make a dictionary that maps from integers to the words that appear that number of times.

But there's a problem -- the keys in a dictionary have to be unique, but the values don't. For example, in a word counter, there could be many words with the same count.

So one way to invert a dictionary is to create a new dictionary where the values are lists of keys from the original.
As an example, let's count the letters in `parrot`.

In [ ]:
d =  value_counts('parrot')
d

If we invert this dictionary, the result should be `{1: ['p', 'a', 'o', 't'], 2: ['r']}`, which indicates that the letters that appear once are `'p'`, `'a'`, `'o'`, and `'t'`, and the letter than appears twice is `'r'`.

The following function takes a dictionary and returns its inverse as a new dictionary.

In [ ]:
def invert_dict(d):
    new = {}
    for key, value in d.items():
        if value not in new:
            new[value] = [key]
        else:
            new[value].append(key)
    return new

The `for` statement loops through the keys and values in `d`.
If the value is not already in the new dictionary, it is added and associated with a list that contains a single element.
Otherwise it is appended to the existing list.

We can test it like this:

In [ ]:
invert_dict(d)

And we get the result we expected.

This is the first example we've seen where the values in the dictionary are lists.
We will see more!

In [70]:
word = 'plumage!'
word = word.strip('!')
word

'plumage'

It is tempting to write list code like this:

In [71]:
t = [1, 2, 3]
t = t.remove(3)           # WRONG!

`remove` modifies the list and returns `None`, so next operation you perform with `t` is likely to fail.

In [72]:
%%expect AttributeError

t.remove(2)

AttributeError: 'NoneType' object has no attribute 'remove'

This error message takes some explaining.
An **attribute** of an object is a variable or method associated with it.
In this case, the value of `t` is `None`, which is a `NoneType` object, which does not have a attribute named `remove`, so the result is an `AttributeError`.

If you see an error message like this, you should look backward through the program and see if you might have called a list method incorrectly.

In [4]:
import download
download.download('https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/structshape.py');

We can import it like this.

In [5]:
from structshape import structshape

Here's an example with a simple list.

In [6]:
t = [1, 2, 3]
structshape(t)

'list of 3 int'

Here's a list of lists.

In [7]:
t2 = [[1,2], [3,4], [5,6]]
structshape(t2)

'list of 3 list of 2 int'

If the elements of the list are not the same type, `structshape` groups
them by type.

In [8]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
structshape(t3)

'list of (3 int, float, 2 str, 2 list of int, int)'

Here's a list of tuples.

In [9]:
s = 'abc'
lt = list(zip(t, s))
structshape(lt)

'list of 3 tuple of (int, str)'

And here's a dictionary with three items that map integers to strings.

In [ ]:
d = dict(lt) 
structshape(d)

If you are having trouble keeping track of your data structures,
`structshape` can help.